html {
    scroll-behavior: smooth; 
}

article img {
    width: 100%;
}

article pre {
    font-size: 12px;
    background-color: #f3f3f3;
    border-radius: 12px;
    padding: 12px;
    /* 横方向にはみ出す場合のみスクロールさせる */
    overflow-x: auto;
}

/* 記事ページ */
.twitter-tweet{
    /* 埋め込みツイートをセンタリング */
	margin: 0 auto;
    padding: 24px 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
.remark-code-title {
    font-size: 12px;
    position: absolute;
    float: left;
    right: -0px;
    padding-top: 12px;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: 12px;
    padding-bottom: 6px;
    background: #ffffff;
    border-radius: 0px 10px 1px 10px;
    border: solid 1px #eeeeee;
}
.remark-code-title:hover {
    opacity: 0.5;
    color: rgba(0,0,0,0)

}
.remark-code-title::selection {
    color:#000000;
    background-color: #ffffff;
}

article .hljs {
    background-color: #f3f3f3 !important;
    margin: -12px;
    padding: 12px !important;

}
article .footnotes {
    margin-top: 36px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    font-size: 12px;
    padding-right: 24px;
}

article .footnotes hr {
    border: none;
}

article {
    margin-bottom: 48px;
}

article .article-header {
    margin-bottom: 48px;
}


.article-header .article-date {
    font-size: 16px;
}

.article-date .hyphen {
    display: inline-block;
    margin: 0px 4px 0px 8px;
}

button.article-date-edited {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    outline: none;
    border: none;
    font-size: 16px;
    color: #505050;
    margin: 0;
    padding: 0px 4px;
    /*
    border-radius: 4px;
    */
}
button.article-date-edited:hover {
    text-decoration: underline;
}
button.article-date-edited.history-visible {
    text-decoration: underline;
}
button.article-date-edited.history-visible:hover {
    text-decoration: none;
}

.article-history-with-git {
    margin-bottom: 14px;
}

.article-header .article-tags {
    margin: 0px 0px 6px 0px;

}

article blockquote {
    padding: .95em;
    border-radius: 6px;
    border-left: 6px solid #fee450;
    background-color: #fbf8e8;
    margin:12px 0px;
}

article blockquote p {
    margin:0px;
}

article h1:not(:first-child) {
    margin-top: 60px;
}
article .article-header h1 {
    margin: 0px;
}
article h2 {
    margin-top: 48px;
}
article h3 {
    margin-top: 36px;
}
article h4 {
    margin-top: 24px;
}

article ul, article ol {
    padding-left: 36px;
}

article ul li, article ol li {
    padding-left: 12px;
}

article table {
    display: block;
    width: 100%;
    overflow: auto;
}

article table tr {
    border: 0;
}

article table th {
    font-weight: 700;
}

article table td,
article table th {
    min-width: 86px;
    padding: 6px 13px;
    border: 1px solid #e6e6e6;
}

article table th:empty {
  padding: 0;
    border: 0;
}

article p {
    margin: 32px 0px;
}

