/* 全体 */
html {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    background-color: #ffffff;
}

#__next {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    overflow-y: scroll;
    color: rgba(0,0,0,.85);

    word-break: normal;
    word-wrap: break-word;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;

    padding-top: constant(safe-area-inset-top);
    padding-right: constant(safe-area-inset-right);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: constant(safe-area-inset-left);

    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
}

body {
    margin: 0px;
    color: #505050;
    text-align: center;
}

a {
    color: #406599;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-decoration-skip: objects;
    -moz-text-decoration-skip: objects;
    text-decoration-skip: objects;
}

a:hover {
    text-decoration: underline;
}

hr {
    border-top: 1px solid #dddddd;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.article-date {
   font-size: 16px;
}

.article-tags {
    margin: 6px 0px;
}

.article-tag {
    border: 1px solid #eeeeee;
    border-radius: 12px;
    display: inline-block;
    margin: 3px 6px 3px 0px;
    padding: 6px 12px;
    font-size: 12px;
}

.article-tag.article-tag-emphasizing {
    background-color: #eeeeee;
}

.article-tag.article-tag-unemphasizing {
    background-color: #ffffff;
}

/* タグページ */

.article-tag.linkable:hover{
    background-color: #ffffff;
    border: solid, 1px, #eeeeee;
    cursor: pointer;
}

.article-tags-selector-wrap h2 {
    margin-top: 0px;
}
.article-tags-selector button.article-tag {
    outline: none;
}

.article-tags-selector .article-tag.unselected {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}
.article-tags-selector .article-tag.unselected:hover {
    background-color: #f7f7f7;

}

.article-tags-selector-wrap {
    margin-bottom: 48px;
}

.article-tags-selector .article-tag.selected {
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
}

.article-cards-message {
    margin: 96px 0 0 0;
    text-align: center;
}

/* ページセレクタの埋め込み */
.head-page-selector-wrap {
    margin-top: -26px;
}