---
import Frame from '../layouts/Frame.astro'
import Article from '../components/article'
import Ogp from '../components/ogp'
import { getStaticPost } from '../lib/astroApi'

const post = await getStaticPost('about', ['title', 'date', 'slug', 'content', 'html', 'description', 'ogImage'])
---

<Frame titleIsH1={false}>
  <title slot="head">memo.yammer.jp - 常に完成形</title>
  <Ogp
    slot="head"
    title='About - memo.yammer.jp'
    path='/posts/about'
    description={post.description || ''}
    ogImage={post.ogImage || ''}
    ogType='article'
  />
  <Article post={post} />
  <a href='/'>&lt; Home</a>
</Frame>
