---
import Frame from '../layouts/Frame.astro'
import Ogp from '../components/ogp'
import { OgImageUrlInText } from '../lib/cloudinaryOgp'
import { getAllPosts } from '../lib/astroApi'
import SearchPage from '../components/SearchPage'

const allPosts = await getAllPosts(['title', 'date', 'slug', 'tags', 'description'])
---

<Frame titleIsH1={true}>
  <title slot="head">memo.yammer.jp - 常に完成形</title>
  <Ogp
    slot="head"
    title='記事を検索 - memo.yammer.jp'
    path='/search'
    description='記事を検索'
    ogImage={OgImageUrlInText('memo.yammer.jp')}
    ogType='website'
  />
  <SearchPage client:load allPosts={allPosts} />
</Frame>
