---
import styles from './footer.module.css'
---

<footer class={styles.footer}>
  <div class={styles.footerInner}>
    <div>
      <div>©2020-2022 Keisuke Nakayama</div>
      <div>
        <a href='/privacy-policy'>Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
