/* ページ */

.pageSelectorNumber {
    padding: 6px;
    margin: 6px;
}
.notNowPage:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #000000;
}
.NowPage {
    color: #a8a8a8;
}
.pageSelector {
    width: 100%;
    text-align: center;
}

