.articleTag {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 12px;
    display: inline-block;
    margin: 3px 6px 3px 0px;
    padding: 6px 12px;
    font-size: 12px;
    outline: none;
}

.linkable, .selectable {
    cursor: pointer;
}

.linkable:hover{
    background-color: #ffffff;
    border: solid, 1px, #eeeeee;
    cursor: pointer;
}

.selectable {
    background-color: #ffffff;
    border: 1px solid #eeeeee;
}

@media (pointer: fine) {
    .selectable:not(.selected):hover {
        background-color: #f7f7f7;
    }
    .selectable:not(.selected):hover {
        background-color: #f2f2f2;
    }
}

.selectable.selected {
   background-color: #eeeeee;
}

.inArticleHeader {
  margin: 0px 6px 6px 0px;
}

.emphasizing {
    background-color: #eeeeee;
}

